.product-list{
    display: inline-block;
    position: relative;

    .product-card{
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 300px;

        .title{
            max-width: 200px;
        }

        .buy-button{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        .price {
            position: absolute; 
            bottom: 0;
            
            margin-bottom: 20px;
     
        }
    }
}